*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/markdown-navigator/
/.idea/misc.xml
/.idea/markdown-navigator.xml
/.idea/markdown-exported-files.xml
/.idea/caches/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/codeStyles/
/.idea/vcs.xml
/.idea/modules.xml
